<%- include('templates/header') %>
<section class="flex justify-center">

  <div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2">
    <div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
      <table id="order-table" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
        <thead>
          <tr>
            <th data-priority="1">Order ID</th>
            <th data-priority="2">Price</th>
            <th data-priority="3">Transaction</th>
          </tr>
        </thead>
        <tbody>
          <% if (orders) { %>
            <% orders.forEach((order, index) => { %>

            <tr>
              <td><%= order.metadata.orderId %></td>
              <td><%= order.totalPrice + ' ' + order.currency %></td>
              <td>
                <a href="orders/<%= order._id %> "><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                  Detail
                </button>
              </a>
              </td>
            </tr>
            
            <% }); %>
          <% } %> 
        </tbody>

      </table>

    </div>
  </div>

</section>

<script type="text/javascript">
  let dataTable = new DataTable("#order-table", {
    responsive: true,
  });
</script>
<%- include('templates/footer') %>