<%- include('templates/header') %>
<section class="flex justify-center">

  <div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2">
    <div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
      <p id="transactionId" data-id="<%= order.id %>"><b>Transaction id: </b><%= order.id %></p>
      <p><b>Customer adress: </b><%= order.Customer.email %></p>
      <p><b>Billing Adress: </b><br>
          <b class="ml-8">First Name: </b><%= order.Billing.BillingAddress.Firstname %><br>
          <b class="ml-8">Last Name: </b><%= order.Billing.BillingAddress.Lastname %><br>
          <b class="ml-8">Address: </b><%= order.Billing.BillingAddress.Address %><br>
          <b class="ml-8">City: </b><%= order.Billing.BillingAddress.City %><br>
          <b class="ml-8">Zipcode: </b><%= order.Billing.BillingAddress.Zipcode %><br>
          <b class="ml-8">Country: </b><%= order.Billing.BillingAddress.Country %>
      </p>
      <p><b>Shipping: </b><%= order.Shipping %></p>

      <% order.ShoppingCart.forEach((article, index) => { %>

        <p><b>Article <%= index + 1 %>: </b><br>
          <b class="ml-8">Name: </b><%= article.name %><br>
          <b class="ml-8">Price: </b><%= article.price %><br>
          <b class="ml-8"></b>
          <% const refunded = (article.refunded === 'true'); if (!refunded) { %>
            <button class="buttonRefund bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                    data-id="<%= article.index %>"
                    data-name="<%= article.name %>"
                    data-price="<%= article.price %>"
                    data-refunded="<%= article.refunded %>">
              Refund
            </button>
          <% } else { %>
            <button class="buttonRefund bg-gray-700 text-white font-bold py-2 px-4 rounded"
                    data-id="<%= article.index %>"
                    data-name="<%= article.name %>"
                    data-price="<%= article.price %>"
                    data-refunded="<%= article.refunded %>">
              Refunded
            </button>

          <% } %>
        </p>

      <% }); %>

      <p><b>Price: </b><%= order.TotalPrice %></p>

    </div>
  </div>

</section>

<script type="application/javascript">
  let transactionId = document.getElementById("transactionId").dataset.id
  let buttons = document.getElementsByClassName("buttonRefund")
  for (let i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', async (e) => {
      const refunded = buttons[i].dataset.refunded;
      if (refunded === 'false') {
        buttons[i].setAttribute('data-refunded', 'true')
        buttons[i].classList.remove('bg-red-500', 'hover:bg-red-700')
        buttons[i].classList.add('bg-gray-700')
        buttons[i].innerHTML = 'Refunded';
        const data = [];
        for (let i = 0; i < buttons.length; i++) {
          data.push({"name": buttons[i].dataset.name, "price": buttons[i].dataset.price, "refunded": buttons[i].dataset.refunded})
        }
        return await fetch("/transactions/" + transactionId, {
          method: "PUT",
          body: JSON.stringify({
            "ShoppingCart": data
          }),
          headers: {
            "Content-Type": "application/json"
          }
        }).catch((err) => console.log(err))
      }
    })
  }

</script>
<%- include('templates/footer') %>